<h1 class="my-4 border-bottom pb-1">Cart ({{totalitems}})</h1>
	{% if totalitems %}
	<div class="cart">
		<table>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Subtotal</th>
			  </tr>
			  {% for product_id,item in cart_data.items %}
			  <tr>
				<td>
				  <div class="cart-info">
					<a href="/product/{{item.title|slugify}}/{{product_id}}"><img src="/media/{{item.image}}" alt="{{item.title}}" /></a>
					<div>
						<a href="/product/{{item.title|slugify}}/{{product_id}}"><p>{{item.title}}</p></a>
					  <span>Price: {{item.price}}</span> <br />
					</div>
				  </div>
				</td>
				<td>
					<div class="cart-info">
						<input type="number" min="1" class="product-qty-{{product_id}} m-1" style="font-size: 1.55rem;" value="{{item.qty}}"  />
						<button class="btn btn-sm btn-primary update-item m-1" style="font-size: 1.5rem;" data-item="{{product_id}}"><i class="fa fa-sync"></i></button>
						<button class="btn btn-sm btn-danger delete-item m-1" style="font-size: 1.5rem;" data-item="{{product_id}}"><i class="fa fa-trash"></i></button>
					</div>
					
				</td>
				<td>{% widthratio item.price 1 item.qty %}</td>
			  </tr>
			  {% endfor %}
		</table>
		<div class="total-price">
			<table>
				<td>Total</td>
				<td>BDT {{total_amt}}</td>
			  </tr>
			</table>
			{% if totalitems %}
			<a href="{% url 'checkout' %}" class="checkout btn" style="font-size: 1.6rem;">Checkout <i class="fa fa-long-arrow-alt-right"></i></a>
			{% endif %}
		  </div>
	</div>
	{% else %}
	<div class="container m-10">
		<div class="my-5"></div>
		<div class="my-5"></div>
		<div class="my-5"></div>
		<h2 class="text-center">Your cart is currently empty.</h2>
		<div class="my-5"></div>
		<p class="text-center ">Before proceed to checkout you must add some products to your shopping cart.
			You will find a lot of interesting products on our Shop.</p>
		<div class="my-5"></div>
		<p class="text-center"><a href="{% url 'product-list' %}" class="btn btn-dark btn-sm" style="font-size: 1.6rem;">Return to shop </a></p>
		<div class="my-5"></div>
		<div class="my-5"></div>
		<div class="my-5"></div>
	</div>
	{% endif %}