{% extends 'user-sidebar.html' %}
{% load static %}
{% block content2 %}
<main class="container my-4">
	<!-- Featured Products -->
	<h2 class="my-4 py-5 text-center">Profile</h2>
	{% if msg %}
	<p class="text-success">{{msg}}</p>
	{% endif %}
	<table class="table table-bordered">
		<form method="post">
			{% csrf_token %}
			{{form.as_table}}
			<tr>
				<td colspan="2">
					<input type="submit" value="Save" class="btn btn-primary" />
				</td>
			</tr>
		</form>
	</table>
</main>
{% endblock %}