{% extends 'user-sidebar.html' %}
{% load static %}
{% block content2 %}
<main class="container my-4">
	<!-- Featured Products -->
	<h2 class="my-4 py-5 text-center">My Orders</h2>
	<div class="table-responsive">
		<table class="table-bordered table">
			<thead>
				<tr>
					<th>Order No</th>
					<th>Total Amt</th>
					<th>Order Status</th>
					<th>Order Time</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
				<tr>
					<td><a href="{% url 'my_order_items' order.id %}" class="btn btn-sm btn-dark">{{order.id}}</a></td>
					<td>{{order.total_amt}}</td>
					<td>{{order.order_status}}</td>
					<td>{{order.order_dt}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>
{% endblock %}