{% extends 'user-sidebar.html' %}
{% load static %}
{% block content2 %}
<main class="container my-4">
	<!-- Featured Products -->
	<h2 class="my-4 py-5 text-center">My Reviews</h2>
	<div class="table-responsive">
		<table class="table-bordered table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Review Text</th>
					<th>Review Rating</th>
				</tr>
			</thead>
			<tbody>
				{% for review in reviews %}
				<tr>
					<td><a href="/product/{{review.product.slug}}/{{review.product.id}}">{{review.product.title}}</a></td>
					<td>{{review.review_text}}</td>
					<td>{{review.review_rating}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>
{% endblock %}