{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h2 class="my-4 pt-5 text-center">My Wishlist Items</h2>
	<div class="table-responsive py-5">
		<table class="table-bordered table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Image</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				{% for wl in wlist %}
				<tr>
					<td><a href="/product/{{wl.product.slug}}/{{wl.product.id}}">{{wl.product.title}}</a></td>
					<td>
						<img width="100" src="/media/{{wl.product.productattribute_set.first.image}}" alt="{{wl.product.title}}">
					</td>
					<td><a href="{% url 'delete-from-wishlist' wl.id %}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>
{% endblock %}