{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}

<!-- Home Slider -->

<div>
  <!-- home section starts  -->

<section class="home" id="home">

  <div class="row">

      <div class="content">
          <h3>তন্তু</h3>
          <p>Sustainable Fashion in Dhaka</p>
          <a href="{% url 'product-list' %}" class="btn">shop now</a>
      </div>

      <div class="swiper books-slider">
          <div class="swiper-wrapper">
            
            {% for product in data %}
            {% if product.is_banner %}
            <a href="/product/{{product.slug}}/{{product.id}}" class="swiper-slide">
                <img src="/media/{{product.productattribute_set.first.image}}" alt="{{product.title}}">
            </a>
            {% endif %}
            {% endfor %}
              
          </div>
          <img src="{% static 'image/stand.png' %}" class="stand" alt="">
      </div>

  </div>

</section>

<!-- home section end  -->

<!-- icons section starts  -->

<section class="icons-container">

  <div class="icons">
      <i class="fas fa-shipping-fast"></i>
      <div class="content">
          <h3>Free Shipping</h3>
          <p>Order over 1000 BDT</p>
      </div>
  </div>

  <div class="icons">
      <i class="fas fa-lock"></i>
      <div class="content">
          <h3>Secure Payment</h3>
          <p>Cash On Delivery</p>
      </div>
  </div>

  <div class="icons">
      <i class="fas fa-redo-alt"></i>
      <div class="content">
          <h3>Easy returns</h3>
          <p>7 days returns</p>
      </div>
  </div>

  <div class="icons">
      <i class="fas fa-headset"></i>
      <div class="content">
          <h3>24/7 support</h3>
          <p>call us anytime</p>
      </div>
  </div>

</section>

<!-- icons section ends -->
<!-- categories section starts  -->

<section class="blogs" id="categories">

  <h1 class="heading"> <span>Categories</span> </h1>

  <div class="swiper blogs-slider">

      <div class="swiper-wrapper">
        {% for cat in cats %}
        <div class="swiper-slide box">
            <div class="image">
                <img src="/media/{{cat.image}}" alt="">
            </div>
            <div class="content">
                <h3>{{cat.title}}</h3>
                <a href="/category-product-list/{{cat.id}}" class="btn">Discover</a>
            </div>
        </div>
        {% endfor %}

      </div>

  </div>

</section>
<!-- categories section end  -->

<!-- newsletter section starts -->

<section class="newsletter">

    <form action="{% url 'subscribe'%}" method="POST"">
      {% csrf_token %}
        <h3>Subscribe for latest updates</h3>
        <input type="email" name="email" placeholder="enter your email" id="" class="box">
        <input type="submit" value="subscribe" class="btn">
    </form>
  
  </section>
  
  <!-- newsletter section ends -->

<!-- featured section starts  -->

<section class="featured" id="featured">

  <h1 class="heading"> <span>Feature Products</span> </h1>

  <div class="swiper featured-slider">

      <div class="swiper-wrapper">
        {% for product in data %}
        {% if product.is_featured %}
        <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
        <input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
        <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
          <div class="swiper-slide box">
              <div class="icons">
                  <a href="/product/{{product.slug}}/{{product.id}}" class="fas fa-search"></a>
                  <a href="#" class="fas fa-heart add-wishlist" data-product="{{product.id}}"></a>
                  <a href="/product/{{product.slug}}/{{product.id}}" class="fas fa-eye"></a>
              </div>
              <div class="image">
                  <img src="/media/{{product.productattribute_set.first.image}}" alt="">
              </div>
              <div class="content">
                  <h3>{{product.title}}</h3>
                  <div class="price">BDT {{product.productattribute_set.first.price|sub:product.discount}} <span >{{product.productattribute_set.first.price}}</span></div>
                  <a href="#" class="btn add-to-cart" data-index="{{product.id}}">add to cart</a>
              </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

  </div>

</section>

<!-- featured section ends -->

<!-- deal section starts  -->

<section class="deal">

    <div class="content">
        <h3>Deal of the day</h3>
        <h1>Upto 50% off</h1>
        <p>Discover our Aesthetic, Trendy Collection.</p>
        <a href="#" class="btn">shop now</a>
    </div>
  
    <div class="image">
        <img src="{% static 'image/banner.png' %}" alt="">
    </div>
  
  </section>
  
  <!-- deal section ends -->


<!-- arrivals section starts  -->

<section class="arrivals" id="arrivals">

  <h1 class="heading"> <span>New Arrivals</span> </h1>

  <div class="swiper arrivals-slider">

      <div class="swiper-wrapper">
        {% for product in data %}
        {% if product.is_new %}

          <a href="/product/{{product.slug}}/{{product.id}}" class="swiper-slide box">
              <div class="image">
                  <img src="/media/{{product.productattribute_set.first.image}}" alt="">
              </div>
              <div class="content">
                  <h3>{{product.title}}</h3>
                  <div class="price">BDT {{product.productattribute_set.first.price|sub:product.discount}} <span>{{product.productattribute_set.first.price}}</span></div>
              </div>
          </a>
          {% endif %}
          {% endfor %}

      </div>

  </div>

</section>

<!-- arrivals section ends -->

</div>
{% endblock %}