{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}
<style>
	.container {
		max-width: 130rem;
		margin: 0 auto;
		padding: 0 3rem;
	}
	/* Product Details */
.product-detail .details {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 7rem;
}

.product-detail .left {
  display: flex;
  flex-direction: column;
}

.product-detail .left .main {
  text-align: center;
  background-color: #f6f2f1;
  margin-bottom: 2rem;
  height: 45rem;
}

.product-detail .left .main img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product-detail .right span {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-detail .right h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.product-detail .right .price {
  font-size: 600;
  font-size: 2rem;
  color: var(--green);
  margin-bottom: 2rem;
}

.product-detail .right div {
  display: inline-block;
  position: relative;
  z-index: -1;
}

.product-detail .right select {
  font-family: 'Poppins', sans-serif;
  width: 20rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

.product-detail form {
  margin-bottom: 2rem;
  z-index: 0;
}

.product-detail form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

.product-detail .form {
  margin-bottom: 3rem;
}

.product-detail .form input {
  padding: 0.8rem;
  text-align: center;
  width: 3.5rem;
  margin-right: 2rem;
}

.product-detail .form .addCart {
  background: var(--green);
  padding: 0.8rem 4rem;
  color: #fff;
  border-radius: 3rem;
}

.product-detail h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}
@media only screen and (max-width: 996px) {
  .product-detail .left {
    width: 30rem;
    height: 45rem;
  }

  .product-detail .details {
    gap: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .product-detail .details {
    grid-template-columns: 1fr;
  }

  .product-detail .right {
    margin-top: 1rem;
  }

  .product-detail .left {
    width: 100%;
    height: 45rem;
  }

  .product-detail .details {
    gap: 3rem;
  }
}

</style>
<main class="container my-4">
	<h1 class="my-4 border-bottom pb-1">Product Details</h1>
	<div class="row">
		<div class="col-md-4">
			<img id="zoom_01" data-zoom-image="/media/{{data.productattribute_set.first.image}}" src="/media/{{data.productattribute_set.first.image}}" class="card-img-top" alt="{{data.title}}">
		</div>
		<div class="col-md-8">
			<div class="my-5"></div>
			<table class="table table-bordered">
				<tr>
					<td>Product Name</td>
					<td>{{data.title}}</td>
				</tr>
				<tr>
					<td>Status</td>
					{% if data.status %}
					<td> <span >In Stock</span></td>
					{% else %}
					<td> <span >Out of Stock</span></td>
					{% endif %}
				</tr>
				<tr>
					<td>Price</td>
					<td>BDT <span class="product-price-{{data.id}}">{{data.productattribute_set.first.price}}</span></td>
				</tr>
			</table>
			<hr/>
			
			<div class="input-group my-3" >
			    <input type="number" value="1" class="form-control m-2 product-qty-{{data.id}}" id="productQty" style="font-size: 1.8rem;" />
				{% if user.is_authenticated %}
				<input type="hidden" class="product-image-{{data.id}}" value="{{data.productattribute_set.first.image}}" />
		        <input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" />
		        <input type="hidden" class="product-title-{{data.id}}" value="{{data.title}}" />
				<div class="d-flex">
					<button class="btn m-2  add-to-cart" data-index="{{data.id}}" type="button" id="addToCartBtn" ><i class="fa fa-shopping-cart"></i> </button>
					<button class="btn m-2  add-wishlist" data-product="{{data.id}}"><i class="fa fa-heart" ></i> </button>
				</div>
				{% else %}
				<div class="d-flex">
					<a href="/accounts/login"><button class="btn m-2 " ><i class="fa fa-shopping-cart" ></i> </button></a>
					<a href="/accounts/login"><button class="btn m-2 " ><i class="fa fa-heart" ></i> </button></a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<h2 class="my-3">Details</h2>
			<table class="table table-bordered">
				<tr>
					<td>Category</td>
					<td><a href="/category-product-list/{{data.category.id}}">{{data.category.title}}</a></td>
				</tr>
				<tr>
					<td>Colors</td>
					<td>
						{% for color in colors %}
							<button class="btn btn-lg choose-color" data-color="{{color.color__id}}" style="background-color: {{color.color__color_code}}"></button>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>Specification</td>
					<td>{{data.specs}}</td>
				</tr>
			</table>
			<p>{{data.detail}}</p>
		</div>
		<!-- Reviews -->
		<div class="col-md-6 my-5">
			<h2 class="">Reviews - <span class="avg-rating">{{avg_reviews.avg_rating}}</span>/5 <i class="fa fa-star text-warning"></i>
				{% if user.is_authenticated %}
				{% if canAdd %}
				<button data-toggle="modal" data-target="#productReview" type="button" class="btn reviewBtn" >Add Review</button>
				{% endif %}
				{% endif %}
			</h2>
			{% if user.is_authenticated %}
			<!-- Product Review -->
			<div class="modal fade" id="productReview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel">Add Product Review</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="post" id="addForm" action="{% url 'save-review' data.id %}">
						{% csrf_token %}
						<div class="form-group">
							<label for="name">Review</label>
							<input type="text" class="form-control" name="review_text" id="review_text"  placeholder="Enter review" style="font-size: 1.5rem;" required>
						</div>
						<div class="form-group">
							<label for="rating">Rating</label>
							<select class="form-select" name="review_rating" id="review_rating" style="font-size: 1.5rem;">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5" selected>5</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary mx-2" style="font-size: 1.5rem;">Submit</button>
						<input type="reset" class="btn btn-dark mx-2" value="Reset" id="reset" style="font-size: 1.5rem;"/>
						<p class="ajaxRes"></p>
				</form>
				</div>
				</div>
			</div>
			</div>
			<!-- Product Review End -->
			{% endif %}
			<div class="card">
				<div class="card-body review-list" style="max-height: 400px; overflow: auto;">
					<!-- Detail -->
					{% if reviews %}
						{% for review in reviews %}
						<blockquote class="blockquote text-right">
						  <small>{{review.review_text}}</small>
						  <footer class="blockquote-footer">{{review.user}} 
						  	<cite title="Source Title">
						  		{% for star in review.review_rating|ljust:review.review_rating %}
						  		<i class="fa fa-star text-warning"></i>
								{% endfor %}
						  	</cite>
						  </footer>
						</blockquote>
						<hr />
						{% endfor %}
					{% else %}
						<p class="no-data">Add First Review</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</main>
<!-- Related Products -->
<section class="arrivals" id="arrivals">

	<h1 class="heading"> <span>Related Products</span> </h1>
  
	<div class="swiper arrivals-slider">
  
		<div class="swiper-wrapper">
			{% for product in related %}
			<a href="/product/{{product.slug}}/{{product.id}}" class="swiper-slide box">
				<div class="image">
					<img src="/media/{{product.productattribute_set.first.image}}" alt="">
				</div>
				<div class="content">
					<h3>{{product.title}}</h3>
					<div class="price">BDT {{product.productattribute_set.first.price|sub:product.discount}} <span>{{product.productattribute_set.first.price}}</span></div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</section>
<!-- Image Zoom -->
<script src="{% static 'jquery.ez-plus.js' %}"></script>
<script type="text/javascript">
    $('#zoom_01').ezPlus();
</script>

<!-- Add To Cart -->
<script src="{% static 'custom.js' %}"></script>

{% endblock %}