{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h1 class="my-4 border-bottom pb-1"><span class="text-muted">Search result for</span> {{request.GET.q}}</h1>
	<div class="product-center container">
		{% if data %}
		{% for product in data %}
		<input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
		<input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
		<input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
		<input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
		<input type="hidden" class="product-price-{{product.id}}" value="{{product.productattribute_set.first.price|sub:product.discount}}" />
		<div class="product-item">
		  <div class="overlay">
			<a href="/product/{{product.slug}}/{{product.id}}" class="product-thumb">
					  <img src="/media/{{product.productattribute_set.first.image}}" class="card-img-top" alt="{{product.title}}" />
					</a>
					<span class="rating">-{{product.discount}}</span>
				</div>
		  	<div class="product-info">
				<div class="price">BDT {{product.productattribute_set.first.price|sub:product.discount}} <span >{{product.productattribute_set.first.price}}</span></div>
					<a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a>
					
				</div>
				<div class="icons">
						
					{% if user.is_authenticated %}
						<i class="fas fa-heart add-wishlist mx-2" data-product="{{product.id}}"></i>
						<i class="fas fa-shopping-cart add-to-cart" data-index="{{product.id}}"></i>
					{% else %}
						<a href="/accounts/login"><i class="fas fa-heart mx-2"></i></a>
						<a href="/accounts/login"><i class="fas fa-shopping-cart" ></i></a>
					{% endif %}
				</div>
		</div>
		{% endfor %}
		{% else %}
		<div class="m-5"></div>
		<div class="container">
			<div class="m-5"></div>
			<h3 class="text-center">No Product found</h3>
			<div class="m-5"></div>
		</div>
		<div class="m-5"></div>
		{% endif %}
		</div>
</main>
{% endblock %}